@media (min-width: 1920px) {
    .secondCircle{
        left: 60px;
    }
    .hireBLock__right__middle h3 {
        font-size: 48px !important;
      }
    .hirePageVk {
       
    }
    .text-block {
        height: 50vh !important;
    }
    .heightClass {
        height: 77vh !important;
    }
    .heightClass2 {
        height: 63vh !important;
    }
    .fhd {
        display: block !important;
    }
    .secondCircle:hover {
        bottom: 60px !important;
        left: 99px !important;
    }
    .thirdCircle{
        right: 95px;
    }
    .thirdCircle:hover {
        bottom: 60px !important;
        right: 85px !important;
        -webkit-bottom: 85px !important;
        -webkit-right: 90px !important;
    }
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .storyBlock h3 {
        font-size: 48px;
        line-height: 57px;
        min-width: 576px;
    }
    .storyBlock div {
        font-size: 22px;
        padding-left: 190px;
    }
    .casesArrow {
        margin: 0;
        padding: 0 !important;
    }
    .casesMain {

    }
    .casesMain p:nth-child(1) {
        font-size: 120px;
    }
    .gradientBtn {
        width: 144px;
        height: 144px;
    }
    .shape {
        width: 120px;
        height: 120px;
    }
    .gradientBtn p {

    }
    .firstCircle {

    }
    .clickedCases {
        top: 110px;
    }
    .hireBtn p {
        
    }
    .hireBLock__left__bottom {
        font-size: 48px;
    }
    .contact__tel p:nth-child(1) {
        font-size: 36px;
    }
    .contact:nth-child(1) {
        margin-right: 48px;
    }
    .hireBLock {

    }
    .gradientBtnContact {
        width: 144px !important;
        height: 144px !important;
        top: 100px !important;
    }
    .posStickBtn {
        top: 100px !important;
    }
    .gradientBtnContact p {
        top: 29% !important;
    }
    .casesTextBlock p {

    }
    .cases-page-slider {
        left: calc(25%) !important;
    }
    .current-page {
        padding-bottom: 70px !important;
        font-size: 18px !important;
    }
    .pos32 {
        right: 75px !important;
        bottom: 75px !important;
    }
    .pos3 {
        bottom: -110px;
        right: 75px;
    }
    .hireBtnPage {
        bottom: -120px !important;
    }
    .deb {
        
    }
}
@media (min-width: 2560px) {
    .hireBLock__right__middle h3 {
        font-size: 48px !important;
      }
    .pos33 {
        bottom: 90px;
        right: 90px;
    }
    .hirePageVk {
        margin-right: 30% !important;
        width: 53% !important;
        height: 556px !important;
        margin-top: 15% !important;
    }
    .text-block {
        height: 45vh !important;
    }
    .heightClass {
        height: 52vh !important;
    }
    .heightClass2 {
        height: 45vh !important;
    }
    .heightClass3 {
        height: 48vh !important;
    }
    .heightClass3 div:nth-child(1) {
        padding-top: 8% !important;
    }
    .fhd {
        display: block !important;
    }
    .deb {
        width: 55% !important;
        margin-top: 17% !important;
    }
    .pos32 {
        right: 90px !important;
        bottom: 90px !important;
    }
    .gradientBtn {
        width: 144px;
        height: 144px;
    }
    .shape {
        width: 120px;
        height: 120px;
    }
    .hireBLock__left__bottom {
        font-size: 48px;
    }
    .contact__tel p:nth-child(1) {
        font-size: 36px;
    }
    .contact:nth-child(1) {
        margin-right: 48px;
    }
    .casesMain {
        margin-top: 30%;
    }
    .casesMain p:nth-child(1) {
        font-size: 120px;
    }
    .firstCircle {
        top: 70px;
        left: calc(48%);
        background-size: 50%;
        width: 120px;
        height: 120px;
    }
    .pos3 {
        bottom: -110px;
        right: 90px;
    }
    .hireBtnPage {
        bottom: -120px !important;
    }
    .clickedCases {
        top: 98px !important;
        left: 50% !important;
    }
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,
    .swiper__mobile {
        display: none;
        -webkit-display: none;
    }
    .showreel {
        display: block;
    }
    .main__logo {
        width: 100px;
        height: 100px;
    }
    .MainPageButton {
        font-size: 25px;
        width: 100px;
        height: 100px;
    }
    .MainPageButton:hover::before {
        width: 120px;
        height: 120px;
    }
    .main {
        padding: 80px;
    }
    .typing__text {
        font-size: 30px;
    }
    .main__bottom {
        margin-bottom: 60px;
    }
    .casesBtn {
        right: 80px;
        bottom: 80px;
    }
    .casesTextBlock {
        bottom: 80px;
        left: 80px;
        font-size: 25px;
    }
    .casesArrow {
        width: 30px;
        height: 30px;
    }
    .casesArray {
        bottom: 10%;
        font-size: 55px;
    }
    .casesArray div {
        margin-top: 28px;
        height: 42px;
        font-size: 36px;
        line-height: 46px;
    }
    .mcDonalds:hover::before {
       
    }
    .casesMain p:nth-child(1) {
        font-size: 120px;
    }
    .casesMain p:nth-child(2) {
        font-size: 35px;
    }
    .storyBlock {
        margin-top: 15%;
        margin-left: 29%;
    }
    .storyBlock h3 {
        font-size: 48px;
        margin-right: 100px;
        line-height: 57px;
    }
    .storyBlock div {
        font-size: 22px;
        padding-left: 200px;
    }
    .casesArrow {
        margin: 0;
        padding: 0 !important;
    }
    .hireBLock {
        width: 60%;
        margin-top: 20%;
    }
    .hireBLock__left__top,
    .hireBLock__left__middle {
        font-size: 22px;
        width: 500px;
    }
    .hireBLock__left__bottom {
        font-size: 45px;
    }
    .hireBLock__right {
        font-size: 22px;
    }
    .hireBLock__right__bottom {
        font-size: 25px;
    }
    .secondCircle:hover {
        bottom: 75px !important;
        left: 129px !important;
        -webkit-bottom: 75px !important;
        -webkit-left: 129px !important;
    }
    .thirdCircle:hover {
        bottom: 80px !important;
        right: 120px !important;
        -webkit-bottom: 80px !important;
        -webkit-right: 120px !important;
    }
    .gradientBtnContact {
        width: 144px !important;
        height: 144px !important;
        top: 100px !important;
    }
    .posStickBtn {
        top: 100px !important;
    }
    .gradientBtnContact p {
        top: 27%;
    }
}
@media (min-width: 1550px) {
    .hireBLock__right__middle h3 {
        font-size: 38px !important;
      }
}
@media (max-width: 1550px) {
    .storyBlock {
        margin-top: 100px;
        margin-left: 413px;
    }
    .storyBlock h3 {
        z-index: 2000;
        font-size: 30px;
        font-weight: 300;
    }
    .casesArrPadding {
        margin-top: 50px !important;
    }
    .storyBlock a, .storyBlock p {
        font-size: 15px;
    }
    .hireBtn {
        width: 110px;
        height: 110px;
    }
    .pos1 {
        width: 90px;
        height: 90px;
    }
    .hireBLock {
        margin-left: 220px;
        margin-top: 140px;
    }
    .hireBLock__right__middle h3, .contact__tel, .hireBLock a {
        font-weight: 450 !important;
        color: #DAE0F2;
        font-size: 17px !important;
    }
    .hireBLock__left__top a, .hireBLock__right__top p, .hireBLock__left__middle {
        font-size: 15px;
    }
    .hireBLock__right__middle {
        margin-top: 60px;
    }
    .hireBLock__right__middle p {
        color: #dae0f2;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 24px;
    }
    .hireBLock__right__middle h3 {
        font-size: 40px !important;
    }
    .hireBLock__right__bottom {
        margin-top: 60px;
    }
    .hireBLock__left {
        margin-right: 80px;
    }
    .hireBLock__right__top p {
        margin-right: 25px;
    }
    .hireBLock__right__middle h3 {
        font-size: 30px !important;
    }
}
@media (max-width: 1440px) {
    .clickedStory {
        left: 40px;
    }
    .fhd {
        display: block !important;
    }
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,
    .swiper__mobile {
        display: none;
        -webkit-display: none;
    }
    .showreel {
        display: block;
    }
    .storyBlock {
        margin-top: 100px;
        margin-left: 413px;
    }
    .hireBLock__right__middle h3, .contact__tel, .hireBLock a {
        font-weight: 450 !important;
        color: #DAE0F2;
        font-size: 13px !important;
    }
    .hireBLock__left__top a {
        color: #DAE0F2;
        text-transform: uppercase;
        font-weight: 300;
        margin-right: 30px;
    }
    .hireBLock__left__top a, .hireBLock__right__top p, .hireBLock__left__middle {
        font-size: 14px !important;
    }
    .hireBLock__left__middle {
        color: #dae0f2;
        text-transform: uppercase;
        font-weight: 450;
        opacity: 0.6;
        margin-top: 30px;
    }
    .hireBLock__left {
        justify-content: flex-start;
    }
    .hireBLock__left__bottom {
        font-size: 30px;
        font-weight: 400;
        margin-top: 15px;
    }
    .hireBLock__right__middle h3 {
        font-size: 30px !important;
    }
    .hireBLock__right__bottom {
        margin-top: 30px;
    }
    .hireBLock__right__bottom {
        font-weight: normal;
        font-size: 14px;
    }
    .contact p:nth-child(2) {
        padding-bottom: 15px;
    }
}
@media (max-width: 1336px) {
    .storyBlock {
        margin-top: 100px;
        margin-left: 295px;
    }
    .typing__text {
        display: none;
    }
}
@media (max-width: 1200px) {
    .storyBtn {
        width: 110px !important;
        height: 110px !important;
    }
    .pos2 {
        width: 90px !important;
        height: 90px !important;
    }
    .storyBlock {
        margin-left: 230px;
    }
    .storyBlock h3 {
        font-size: 34px;
    }
    .storyBlock > div {
        padding-left: 90px;
    }
    .casesArrPadding {
        margin-top: 15px !important;
    }
    .storyBlock p {
        margin: 10px 0 10px 0;
    }
    .clickedStory {
        left: 10px;
    }
}
@media (max-width: 1024px) {
    .fhd {
        display: block !important;
    }
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,
    .showreel {
        display: block;
    }
    .casesLayout {
        clip-path: polygon(51% 0%, 100% 15%, 100% 100%, 0 100%, 0 30%);
    }
    .casesArray {
        bottom: 200px;
        right: 60px !important;
        left: auto !important;
    }
    .storyBlock {
        margin-top: 100px;
    }
    .hireBLock {
        height: 490px;
        margin-top: 18%;
        margin-left: 12%;
    }
    .gradientBtn {
        width: 110px;
        height: 110px;
    }
    .shape {
        width: 90px;
        height: 90px;
    }
    .hireBLock__left {
        margin-right: 55px;
    }
}
@media (max-width: 900px) {
    .storyBlock h3 {
        font-size: 25px;
    }
    .storyBlock > div {
        padding-left: 38px;
    }
    .storyBlock p {
        font-size: 14px;
    }
    .storyBlock a, .storyBlock p {
        margin: 0px 0 10px 0;
    }
    .hireBLock {
        flex-direction: column;
        height: 490px;
        margin-top: 6%;
        margin-left: 30%;
    }
    .hireBLock__right__bottom {
        justify-content: flex-start;
    }
    .hireBLock__right__bottom .contact:first-child {
        margin-right: 50px;
    }
    .clickedHire {
        right: 15px !important;
    }
    .hireBLock__left__bottom {
        font-size: 21px;
        font-weight: 400;
        margin-top: 15px;
    }
    .hireBLock__right {
        margin-top: 20px;
    }
    .hireBLock__right__middle {
        margin-top: 30px;
    }
}
@media (max-width: 768px) {
    .fhd {
        display: block !important;
    }
    .mobile__btns {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile,
    .swiper__mobile {
        display: none;
        -webkit-display: none;
    }
    .showreel {
        display: block;
    }
    .casesArray {
        bottom: 60px;
        left: 44px !important;
        right: auto !important;
        font-size: 30px !important;
    }
    .casesMain {
        bottom: 660px;
    }
    .storyLayout {
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 12% 89%);
    }
    .storyBlock h3 {
        font-size: 18px;
    }
    .storyBlock div {
        font-size: 12px;
    }
    .storyBlock p {
        font-size: 11px;
      }
    .hireBLock__left {
        font-size: 15px;
    }
    .hireBLock__left__middle {
      
    }
    .hireBLock {
        
    }
    .hireBtn {
        top: 20px;
        left: 20px;
    }
    .hireBLock__right__middle {
        
    }
    .hireBLock__right__bottom {
        
    }
    .hireBLock__right__bottom .contact:nth-child(1) {
        margin-right: 10px;
    }
    .hireLayout {
        clip-path: polygon(0 0, 85% 0, 91% 90%, 0 100%);
    }
    .casesTextBlock {
        width: 30% !important;
    }
    .casesArray div {
    }
    .pos1 {
        top: 27px;
        left: 27px;
    }
    .hireBLock__left__top a {
        font-size: 15px !important;
    }
    .hireBLock__right__top p,
    .hireBLock__right__top a {
        font-size: 15px !important;
    }
    .casesTextBlock p {
        font-size: 15px !important;
        display: none;
    }
    .casesArray div {
        margin-top: 20px !important;
    }
    .storyBlock {
        flex-direction: column !important;
        margin-left: 185px;
        margin-top: 55px;
    }
    .storyBlock > div {
        padding-left: 0;
        margin-top: 13px;
    }
    .casesArrow  {
        display: none !important;
    }
}
@media (max-width: 636px) {
    .hireBLock {
        margin-left: 60px;
    }
    .hireBtn {
        left: auto !important;
        right: 105px;
    }
    .pos1 {
        left: auto !important;
        right: 117px;
    }
    .hireBLock__left__top a, .hireBLock__right__top p, .hireBLock__left__middle {
        font-size: 12px !important;
    }
    .hireBLock__left__bottom {
        font-size: 18px;
        font-weight: 400;
        margin-top: 15px;
    }
    .hireBLock__right__middle p {
        color: #dae0f2;
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 24px;
    }
    .hireBLock__right__middle h3 {
        font-size: 23px !important;
    }
}
@media (max-width: 612px) {
    .storyBtn {
        bottom: 60px;
        top: auto !important;
    }
    .pos2 {
        bottom: 70px;
        top: auto !important;
    }
    .storyBlock {
        margin-top: 50px;
        margin-left: 155px;
    }
    .hireBtn, .pos1 {
        display: none;
    }
}
@media (max-width: 480px) {
    .casesTextBlock .casesArrow {
        display: none;
    }
}
@media (max-height: 500px) and (max-width: 5000px) {
    .casesTextBlock {
        display: none;
    }
    .casesArray {
        bottom: 60px;
        left: 60px !important;
        right: auto !important;
    }
    .casesMain {
        bottom: 400px;
    }
}
@media (max-height: 500px) and (max-width: 5000px) {
    .casesTextBlock {
        display: none;
    }
    .casesArray {
       display: none;
    }
    .casesMain {
        display: none;
    }
    .casesBtn, .pos33 {
        left: 50%;
        right: auto !important;
        transform: translateX(-50%);
    }
    .firstCircle {
        
    }
}
@media (max-width: 425px) {
    .mobile {
        display: block !important;
    }
    .mobile__btns button {
        z-index: 20002;
        width: 60px;
        height: 30px;
        color: #fff;
        font-size: 18px;
        border: none;
        background: transparent;
        text-transform: uppercase;
    }
    .mobile__btns button:nth-child(2) {
        margin-top: -100px;
    }
    .mobile__btns {
        z-index: 20002;
        display: flex !important;
        -webkit-display: flex !important;
        flex-direction: column;
        position: absolute;
        right: 60px;
        bottom: 60px;
        height: 350px;
        justify-content: space-between;
    }
    .showreel {
        display: none;
        -webkit-display: none;
    }
    .showreel__mobile {
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        position: absolute !important;
        content: '';
        z-index: -9;
        background-image: url('../MainPage/video/videoPower.gif');
    }
    .swiper__mobile {
        display: flex;
    }
    .cube,
    .secondCircle,
    .thirdCircle,
    .firstCircle {
        display: none;
    }
    .casesLayout {
        overflow: hidden;
    }
    .slick-slide {
        z-index: 2000;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }
    .swiper-item {
        background-image: url('../../images/Showreel.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
    .swiper-item div:nth-child(1) {
        padding-top: 100%;
        padding-left: 10%;
        z-index: 2000;
        color: #dae0f2;
    }
    .swiper-item div:nth-child(2) span {
        color: #fff;
    }
    .swiper-item div:nth-child(2) {
        padding-top: 20%;
        padding-left: 10%;
        color: #dae0f2;
    }
    .swiper-item h3 {
        font-size: 48px;
    }
    .swiper-item p {
        font-size: 18px;
    }
    .movable {
        display: none;
    }
    #overlay1,
    #overlay2,
    #overlay3 {
        display: none;
    }
    .main {
        height: 100vh;
        padding: 20px;
    }
    .main__logo {
        top: 20px;
        right: 20px;
    }
    .main__bottom__video {    
        content: '';
        width: 400px;
        left: 0;
        transform: rotate(-90deg);
        bottom: 50%;
        position: absolute;
        left: -44%;
    }
    .main__bottom {
        position: absolute;
        width: 332px;
        content: '';
        height: 35px;
        left: calc(-29%);
        bottom: 20px;
        margin-bottom: 166px;
    }
    .progress-done {
        margin: 0;
    }
    .MainPageButton {
        border-radius: 0px;
        height: 36px;
        width: 90px;
    }
    .storyLayout,
    .hireLayout,
    .casesLayout {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0) !important;
    }
    .clickedStory,
    .clickedCases,
    .clickedHire,
    .casesTextBlock,
    .casesArray {
        display: none;
    }
    .casesBtn {
        bottom: 20px;
        right: 20px;
    }
    .storyBtn {
        top: 20px;
        right: 20px;
    }
    .storyBlock {
        margin-top: 30%;
        width: 85%;
    }
    .hireBLock {
        flex-direction: column;
        margin: 35% auto 0;
        align-items: center;
    }
    .hireBLock__left,
    .hireBLock__right {
        width: 335px;
    }
    .hireBLock__left__top {
        margin: 15px 0;
    }
    .hireBLock__right__top {
        align-items: flex-start;
        flex-direction: column;
    }
    .hireBLock__left__middle,
    .hireBLock__right__top {
        font-size: 14px;
    }
    .hireBLock__left__bottom {
        font-size: 30px;
    }
    .hireBLock__right__middle,
    .hireBLock__right__bottom {
        margin-top: 15px;
    }
    .hireBLock__right__middle p,
    .hireBLock__right__middle h3 {
        font-size: 15px;
    }
    .main__bottom {
        position: absolute;
        left: 0;width: 100%;
        bottom: 30px;
        margin-bottom: 30px !important;
        height: 400px;
    }
    .fhd{
        display: none !important;
    }
}
@media (max-width: 375px) {
    .main {
        padding: 30px;
    }
    .secondCircle,
    .thirdCircle,
    .firstCircle {
        left: calc(72%);
    }
    .main__logo {
        top: 30px;
        right: 30px;
    }
    .mobile {
        display: block !important;
    }
    .posMob1{
        bottom: 473px !important;
    }
    .posMob4{
        right: calc(39.5%) !important;
    }
    .caseLinkIMP{
bottom: 50px;   
    }
}
@media (max-width: 320px) {
    .secondCircle,
    .thirdCircle,
    .firstCircle {
        left: calc(69%);
    }
    .storyBlock {
        margin-top: 40%;
        flex-direction: column;
    }
    .mobile {
        display: block !important;
    }
}
@media (max-height: 1400px) {
    .firstCircle {
        top: 8% !important;
      }
}
@media (max-height: 980px) {
    .firstCircle {
        top: 6% !important;
      }
}
@media (max-height: 680px) {
    .firstCircle {
        top: 4% !important;
      }
}
.mobile__btns {
    display: none;
    -webkit-display: none;
}
.hireBLock__left__top a,
.hireBLock__right__top p,
.hireBLock__left__middle {
    font-size: 18px;
}
.hireBLock__right__middle h3 {
    font-size: 48px !important;
}
.fhd {
    display: block;
}

.mobile {
    display: none;
}
.mobile {
    width: 100%;
    height: 100%;
}
